hr{
    border-color: #999;
}

.deleteGestureButton{
    margin-top: -7px;
    display: none;
    margin-left: 3px;
}

#currentTrackingGestures .gestureFile:hover .deleteGestureButton{
    display: block;
}

#room{
    border: 1px solid;
    border-color: black;
    background-color: #ccc;
    margin-bottom: 500px;

    height: 100px;
    width: 100px;
}

.person{
    height: 30px;
    width: 30px;
    background-color: black;
    position: relative;
    border-radius: 15px; 
}

.person-label{
    padding-top: 30px;
}

.kinectConfigButton{
    margin-right: 15px;
}